<article id="top">
  <%= image_tag 'top', class: "bg"%>
  <div class="content">
    <h2>Let's record your child's START!</h2>
    <%= simple_format "This is an application that allows you to record your child's start with photos.
Let's leave a lot of pictures of various STARTs!
" %>
    <div class="text-center margin-top-10">
        <%= link_to 'SIGNUP', new_post_path %>
        <%= link_to 'LOGIN', login_path %>
    </div>
  </div>
</article>