<h2><span>Log</span></h2>
<article id="index">
  <% 10.times do %>
    <section>
      <a><img src="/assets/sample.jpg"></a>
      <div class="content">
        <h4><a>title</a></h4>
        <p>hajimete nanikawo shitayo!! sample text sample text sample text sample text sample text sample text sample text</p>
        <p class="day"><a>2023/12/29</a></p>
      </div>
    </section>
  <% end %>
</article>