<header>
  <h1>APP TITLE</h1>
  <nav>
    <ul>
      <li><%= link_to 'about', '/about' %></li>
      <li><%= link_to 'login', '#' %></li>
      <li><%= link_to 'signup', login_path %></li>
    </ul>
  </nav>
</header>