<header>
  <h1><a href="<%= root_path %>">APP TITLE</a></h1>
  <nav>
    <ul>
      <li><%= link_to 'about', '/about' %></li>
      <li><%= link_to 'login', login_path %></li>
      <li><%= link_to 'signup', new_user_path %></li>
    </ul>
  </nav>
</header>