  <section>
    <a><img src="<%= post.photo.url%>"></a>
    <div class="content">
      <h4><a><%= post.title %></a></h4>
      <p><%= post.body %></p>
      <p class="day"><a><%= post.created_at %></a></p>
    </div>
  </section>