:root {
  --theme-color1: #faf0e6;
  --theme-color1-op: #faf0e693;
  --bg-color: #fff;
  --text-color: #363636;
  --form-color: #faf0e6;
  --form-border-color: #cea780;
}

/* reset css */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
a::before,
a::after,
button,
button::before,
button::after,
input,
label:has(input),
textarea {
  transition: all 0.3s;
}

a,
input[type=button],
input[type=submit],
button,
button::before,
button::after,
label:has(input[type=checkbox]),
label:has(input[type=radio]) {
  cursor: pointer;
}

input,
button {
  border: none;
  border: 0;
}

input,
textarea {
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: 2px solid transparent;
}

input[type=text],
textarea {
  cursor: auto;
}

p,
dl,
ul,
ol,
form {
  margin: 0;
  word-wrap: break-word;
}

/* ↑reset css */

/* web font
Zen maru Gothic
font-family: "zen-maru-gothic", sans-serif;
font-weight: 400;

bold
font-weight: 700;

Zen Kurenaido
font-family: zen-kurenaido, sans-serif;
font-weight: 400;
font-style: normal;
*/

body,
button,
input,
textarea {
  font: 400 1.6rem/calc(1.6rem + 1.05rem) "zen-maru-gothic", sans-serif;
  background-color: var(--theme-color1);
  color: var(--text-color);
  font-style: normal;
}

body {
  overflow-x: hidden;
}

a {
  color: blue;
}

form {
  padding: 30px;

  &>div {
    margin: 15px auto;
  }
}

label {
  display: block;
  text-align: start;
}

input,
textarea {
  display: block;
  width: calc(100% - 1.6rem);
  border: 1px solid #505050;
  margin-left: 1.6rem;
}

input[type=submit],
input[type=button],
input[type=checkbox] {
  width: auto;
  display: inline-block;
}

input[type=checkbox] {
  display: none;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-family: zen-kurenaido, sans-serif;
  font-weight: 400;
  font-style: normal;

  a {
    color: var(--text-color);
  }
}

h2 {
  display: block;
  text-align: center;
  font-size: calc(1.6rem * 3);
  line-height: calc(1.6rem * 3);

  span {
    border-bottom: 2px solid #000;
  }
}

h3 {
  display: block;
  text-align: center;
}

h4 {
  font-size: calc(1.6rem * 2);
  line-height: calc(1.6rem * 2);
  margin-top: 5px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

/* Google icon */
.day::before,.camera::after {
  font-family: "Material Icons";
}

.day::before {
  content: "\e8df";
}

.camera{
  position: relative;
  z-index: 0;
}

.camera::before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0000008f;
  z-index: -1;
}

.camera::after {
  content: "\e439";
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  padding: 0 40px;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  margin: 8px 8px 0 8px;
  h1 {
    width: 50%;
  }

  nav {
    height: 100%;
    position: relative;
    width: 50%;

    ul {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      gap: 10px;
      list-style: none;
      padding: 10px;
    }
  }
}

article {
  margin: 50px 100px 50px;

  section {
    border: 1px solid #000;
    padding: 10px;
    width: 500px;
    max-width: 90%;
    margin: auto;
  }
}

img.avatar-icon {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

#top {
  margin: 0;
  width: 100%;
  height: 100vh;
  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
  }

  .content{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateY(-55%) translateX(-50%);
    -webkit-transform: translateY(-55%) translateX(-50%);
    background-color: #ffffffa1;
    padding: 0 50px 50px;
    p{
      font-size: calc(1.6rem * 1.5);
      line-height: calc(1.6rem * 1.5 + 1.05rem);
    }
  }
}

.row_show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
}

section.show {
  position: relative;
  padding: 0;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px #3d3d3d8e;

  img {
    width: 100%;
    aspect-ratio: unset;
  }

  .icon {
    width: 100%;
    display: flex;
    gap: 3px;
    margin: 5px;
    justify-content: end;

    img.avatar-icon {
      width: 30px;
    }
  }

  p {
    padding: 0 30px 40px;

    .day {
      padding-right: 0;
    }
  }

  .tape {
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 130px;
    height: auto;
    object-fit: contain;
    aspect-ratio: unset;
  }
}

section.content {
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  padding: 0;
  border: none;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px #3d3d3d8e;

  img.main {
    width: 100%;
    height: 200px;
  }

  .icon {
    width: 100%;
    display: flex;
    gap: 3px;
    margin: 5px;
    justify-content: end;

    img.avatar-icon {
      width: 30px;
    }
  }

  .body {
    padding: 5px 15px;

    h4 {
      text-align: center;
    }

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
    }

    .is_public_tag,.is_private_tag {
      display: inline;
      text-align: end;
      font-size: 1.3rem;
      border-radius: 10px;
      padding: 3px 5px;
    }

    .is_public_tag {
      background-color: var(--theme-color1);
      border: 1px solid #ffc096;
    }

    .is_private_tag {
      background-color: rgba(155, 155, 155, 0.397);
      border: 1px solid #3d3d3d;
    }
  }

  .tape {
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 130px;
    height: auto;
    object-fit: contain;
    aspect-ratio: unset;
  }
}

.profile {
  padding: 20px;
  .icon {
    margin: auto;
  }
  .body {
    text-align: start;
  }

  &-edit{
    border: 1px solid var(--text-color);
    padding: 0 1.6rem;
    margin: 10px 0;
    input,textarea {
      border: none;
    }
    textarea {
      width: 100%;
      overflow-y: auto;
      resize: none;
    }
  }
}

.icon{
  width: 100px;
}

#user_avatar {
  display: none;
}

.filelabel {
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  span{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}

.filelabel:hover {
  opacity: 0.5;
  cursor: pointer;
}

.filelabel img{
  vertical-align: bottom;
  opacity: 0.5;
}

#photo-prev {
  img {
    object-fit: contain;
    aspect-ratio: unset;
  }
}

.require:after {
  content: "*";
  color: red;
}

#post_public_label {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}

#post_public_label::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

#post_public_label::after {
  border-right: 3px solid #ed7a9c;
  border-bottom: 3px solid #ed7a9c;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

input[type=checkbox]:checked +#post_public_label::after {
  opacity: 1;
}

.error{
  background-color: rgba(255, 0, 0, 0.164);
  padding: 10px;
  border: 1px solid red;
  ul {
    list-style: none;
    padding: 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 1.6rem;
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: calc(1.6rem * 2);
  }

  main {
    margin-top: 40px;
    margin-bottom: 100px;
  }

  header {
    display: block;
    text-align: center;
    height: 40px;
    z-index: 0;

    h1 {
      width: 100%;
    }

    nav {
      position: fixed;
      width: 100%;
      height: 50px;
      left: 0;
      bottom: 0;
      z-index: 10;
      background-color: var(--theme-color1);
      margin: 0;
      border-top: 1px solid #33333328;
    }

    ul {
      position: relative;
      width: 100%;
      margin: 0;
      li {
        width: calc(100% / 4);
      }
      li+ li {
        border-left: 1px solid #33333328;
      }
    }
  }

  article {
    margin: 5px;
  }

  form {
    padding: 5px;
  }

  .row_show {
    display: block;
  }

  section.content {
    width: 100%;
    margin: 20px auto;
  }

  #top {
    height: 100vh;
    .bg {
      top: 0;
    }

    .content {
      position: relative;
      padding: 10px;
      p {
        font-size: 1.6rem;
      }
    }
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.margin-top {
  &-5 {
    margin-top: 5px;
  }

  &-10 {
    margin-top: 10px;
  }
}

.margin-left {
  &-5 {
    margin-left: 5px;
  }

  &-10 {
    margin-left: 10px;
  }

  &-30 {
    margin-left: 30px;
  }

  &-1_6 {
    margin-left: 1.6rem;
  }
}

.margin-right {
  &-5 {
    margin-right: 5px;
  }

  &-10 {
    margin-right: 10px;
  }

  &-30 {
    margin-right: 30px;
  }

  &-1_6 {
    margin-right: 1.6rem;
  }
}


.margin-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.border-none {
  border: none;
}

@media only screen and (max-width: 800px) {
  .sp {
    &-block {
      display: block;
    }

    &-center {
      margin: auto;
    }
  }
}