<article id="login">
  <section>
    <form>
      <div>
        <label>Email</label>
        <input type="email" placeholder="xxx@xxx.xx" />
      </div>
      <div>
        <label>Password</label>
        <input type="password"/>
      </div>
      <div class="block text-center margin-top-10">
        <button class="text-center">send</button>
      </div>
    </form>
    <div class="block text-center">
      <a>SignUp</a> / <a>Forget Password</a>
    </div>
  </section>
</article>